<footer class="d-flex flex-wrap flex-sm-column justify-content-around align-items-center">
    <div class="img-wrap">
        <img src="../../../assets/image/Logo Es Brasil/logo2.png" alt="">
    </div>
    <div class="copy">
        <p>Copyright © 2022 Es Brasil Create by Bogor Studio</p>
    </div>
    <div class="footer-icon d-flex justify-content-around ">
        <a href="https://wa.me/6285773993494"><i class="fab fa-whatsapp fa-lg text-success"  ></i></a>
        <a class="footer-icon-mid" href="https://www.facebook.com/Esbrasilbgr"><i class="fab fa-facebook fa-lg text-primary"></i></a>
        <a href="https://mail.google.com/mail/?view=cm&fs=1&to=esbrasilbgr@gmail.com"><i class="fas fa-inbox fa-lg text-danger"></i></a>
    </div>
</footer>