<section>
    <div class="container-md">
        <div class="row" data-aos="fade-right" data-aos-duration="700" data-aos-offset="200">
            <!-- <div class="img-wrap">
                <img class="img-fluid" src="../../../assets/image/Daftar Menu Es Brasil/Daftar Menu Es Brasil-min.jpg" alt="">
            </div> -->
            <div class="smartphone">
                <div class="content">
                    <img class="img-fluid" src="../../../assets/image/Daftar Menu Es Brasil/Daftar Menu Es Brasil-min.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>