section {
    padding: 7rem 0;
}

.row>* {
    padding-right: 0!important;
    padding-left: 0!important;
}


/* The device with borders */

.smartphone {
    position: relative;
    width: 500px;
    margin: auto;
    border: 16px black solid;
    border-top-width: 60px;
    border-bottom-width: 60px;
    border-radius: 36px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086), 0 100px 80px rgba(0, 0, 0, 0.12);
    .content {
        img {
            width: 100% !important;
            height: 100% !important;
        }
    }
}


/* The horizontal line on the top of the device */

.smartphone:before {
    content: '';
    display: block;
    width: 60px;
    height: 5px;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 10px;
}


/* The circle on the bottom of the device */

.smartphone:after {
    content: '';
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    left: 50%;
    bottom: -65px;
    transform: translate(-50%, -50%);
    background: #333;
    border-radius: 50%;
}

@media (max-width: 768px) {
    section {
        padding-left: 0;
        padding-right: 0;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }
}