<div *ngIf="overflay" class="overflay d-flex align-items-center">
    <div class="img-wrap d-flex justify-content-center ">
        <img src="../assets/image/Logo Es Brasil/logo2.png" alt="">
    </div>
</div>
<!-- Section Header -->
<section class="header">
    <nav class="navbar">
    </nav>
    <nav #navbar class="navbar navbar-expand-md fixed-top navbar-light">
        <div class="container">
            <button #navbarToggler class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
               <i class="fas fa-sliders-h"></i>
            </button>
            <div #navbarCollapse class="collapse navbar-collapse animate__animated animate__bounceInDown animate__slow animate__delay-2s" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a #navLink class="nav-link" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item in">
                        <a #navLink2 class="nav-link" (click)="scrollElement(about)">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a #navLink3 class="nav-link" (click)="scrollElement(available)">Available</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a #navLink4 class="nav-link" aria-current="page" (click)="scrollElement(contact)">Contact</a>
                    </li>
                    <li class="nav-item in">
                        <a #navLink5 class="nav-link">Agent</a>
                    </li>
                    <li class="nav-item">
                        <a #navLink6 class="nav-link">Karir</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Off Canvas -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">
                <img class="img-custom" src="../assets/image/Logo Es Brasil/logo1.jpg" alt="">
            </h5>
            <a class="" data-bs-dismiss="offcanvas">
                <i class="fas fa-times fa-2x me-4 ms-3"></i>
            </a>
        </div>
        <div class="offcanvas-body">
            <ul class="nav flex-column nav-mobile">
                <li class="nav-item">
                    <a class="nav-link" data-bs-dismiss="offcanvas" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-dismiss="offcanvas" href="#">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-dismiss="offcanvas" href="#">Available</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-dismiss="offcanvas" href="">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-dismiss="offcanvas" href="#">Agent</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-dismiss="offcanvas" href="#">Karir</a>
                </li>
            </ul>
            <div class="icon-mobile d-flex justify-content-around">
                <a href="https://wa.me/6285773993494"><i class="fab fa-whatsapp fa-2x text-success"></i></a>
                <a href="https://www.facebook.com/Esbrasilbgr"><i class="fab fa-facebook fa-2x text-primary"></i></a>
                <a href="https://mail.google.com/mail/?view=cm&fs=1&to=esbrasilbgr@gmail.com"><i class="fas fa-inbox fa-2x text-danger"></i></a>
            </div>
            <div class="nav-footer">
                <h6 class="mx-auto">Copyright © 2022 Es Brasil Create by Bogor Studio</h6>
            </div>
        </div>
    </div>
    <!-- /Off Canvas -->

    <div class="h-100 d-flex justify-content-center align-items-center">
        <div class="header-text animate__animated animate__fadeInLeft animate__slow animate__delay-2s">
            You Can’t Buy “ <b>HAPPINESS</b> ” But You Can Buy “ <b>ES BRASIL</b> ”
            <div class="sub-header-text mx-auto animate__animated animate__jackInTheBox animate__delay-4s">
                - ES BRASIL Makes Everything Better -
            </div>
        </div>
    </div>

</section>

<!-- Product Knowlodge -->
<div>
    <app-product-know></app-product-know>
</div>


<!-- Product penjelasan -->
<div #about>
    <app-product-penjelasan></app-product-penjelasan>
</div>

<!-- Product varian-rasa -->
<div>
    <app-product-varian-rasa></app-product-varian-rasa>
</div>

<!-- Es Carousel -->
<div>
    <app-es-carousel></app-es-carousel>
</div>


<!-- Menu Harga -->
<div>
    <app-menu-harga></app-menu-harga>
</div>

<!-- Proses Produksi  -->
<div data-aos="fade-up" data-aos-duration="600" data-aos-offset="100">
    <app-proses-produksi></app-proses-produksi>
</div>

<!-- Disply Freezer -->
<div data-aos="fade-up" data-aos-duration="600" data-aos-offset="100">
    <app-display-freezer></app-display-freezer>
</div>

<!-- Offline -->
<div #available>
    <app-offline></app-offline>
</div>


<!-- Lokasi Carousel -->
<div>
    <app-lokasi-carousel></app-lokasi-carousel>
</div>


<!-- Online -->
<!-- <app-online></app-online> -->

<!-- Contact Us -->
<div #contact>
    <app-contact-us></app-contact-us>
</div>

<!-- Patner Ship -->
<div>
    <app-patnership></app-patnership>
</div>


<!-- Footer -->
<div>
    <app-footer></app-footer>
</div>


<!-- /Section Header -->