<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6" data-aos="zoom-in-up">
                <div class="img-wrap">
                    <img class="img-fluid" src="../../../assets/image/Tersedia di/2-min.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6" data-aos="zoom-in-up">
                <div class="img-wrap">
                    <img class="img-fluid" src="../../../assets/image/Tersedia di/3-min.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>