<section>
    <div class="container-md">
        <div class="row">
            <!-- <div class="img-wrap">
                <img class="img-fluid" src="../../../assets/image/Tersedia di/Tersedia di Gofood & Grabfood 2-01-min.jpg" alt="">
            </div> -->
            <div class="smartphone">
                <div class="content">
                    <img class="img-fluid" src="../../../assets/image/Tersedia di/Te rsedia di Gofood & Grabfood 2-01-min.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>